footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $white;
  min-height: 110px;
  padding: 0 45px;
  text-align: center;
  z-index: 8;
  strong {
    line-height: 1.5;
  }
  a {
    font-weight: bold;
    color: $white;
  }
}
