.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0 70px 0;
  text-align: center;
  span.main {
    color: $danger;
    font-size: 16px;
    display: inline-flex;
    margin-bottom: 20px;
    padding: 0 55px;
    position: relative;
    font-weight: bold;
    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      content: "";
      height: 2px;
      width: 40px;
      background-color: $danger;
    }
    &:after {
      position: absolute;
      top: 50%;
      right: 0;
      content: "";
      height: 2px;
      width: 40px;
      background-color: $danger;
    }
  }
  .sub {
    color: $primary;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    @include md {
      margin-bottom: 40px;
    }
    .error {
      display: inline-block;
      margin-left: 5px;
      cursor: pointer;
      opacity: 0.3;
      animation: fade infinite alternate 0.7s 0.7s linear;
      font-size: 30px;
    }
  }
  p {
    color: $secondary;
    font-weight: bold;
    line-height: 1.6;
  }
}
