$primary: #2c394b;
$danger: #ff4c29;
$secondary: #72777e;
$white: #fff;

.router-link-exact-active {
  color: $danger;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  @include md {
    padding: 0 30px;
    max-width: 1280px;
  }
}
